<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p class="title">{{title}}</p>
    <hr>
    <ul>
      <li class="nav-list-item" *ngFor="let navLink of headerNavLinks">
        <a
          [href]="appGlobal.routeType(navLink)"
          [routerLink]="appGlobal.routeType(navLink)"
          (click)="mobileNav()"
        >{{navLink.label}}</a>
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-header></app-header>
    <div class="body-wrapper">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>

</mat-drawer-container>
